POSTGRES_DB=forep
POSTGRES_USER=forep
POSTGRES_PASSWORD=forep

BACKEND_PORT=8080
AI_SERVICE_PORT=8000
FRONTEND_PORT=5173

JWT_SECRET=change-me
AI_SERVICE_TOKEN=dev-internal-token

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_STORAGE_BUCKET=forep-files

